[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==24.2"
pkginfo = "==1.12.1.2"
setuptools = "*"
twine = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
pytest = "*"
semver = "*"

[requires]
python_version = "3.11" # must match the Python version configured in Dockerfile
