[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
pip = "==24.2"
setuptools = "*"
pkginfo = "==1.12.1.2"

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"
semver = "*"

[requires]
python_version = "3.11" # must match the Python version configured in Dockerfile
